*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.data-main{
    height: 100vh;
    width: 100%;
    position: relative;
    top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.user-info{
    width: 80%;
    height: 700px;
    background-color: whitesmoke;
    padding: 50px;
}
.heading2{
    font-weight: bolder;
    color: royalblue;
    margin-bottom: 20px;
}
.student-table{
    width: 100%;
    height: 100vh;
    /* background-color: grey; */
    position: relative;
    top: -20px;
}
.information-table{
    width: 90%;
    height: 100vh;
    /* background-color: grey; */
    margin-left: 5%;
}